:root {
  --main-color: #8D3DAF;
  --black: #222;
  --white: #fff;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, .7);
  --light-bg: #eee;
  --border: .1rem solid var(--black);
  --box-shadow: 1px 5px 10px 5px #ccc;
  --box-shadow2: 10px 10px 10px 10px #ccc;
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
}

.button-effect {
  color: white;
  transition: 0.50s;
  border-radius: 30px;

}

.button-effect:hover {
  border-color: #ff6699;
  color: #ff6699;
  font-weight: bold;
}

.button-effect :focus {
  border-color: #ff6699;
  color: #ff6699;
  font-weight: bold;
}

.button-effect2 {
  background: #ff6699;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em white;
}

.white-button {
  background: white;
  border: none;
  padding: 13px;
  border-radius: 15px;
  color: #8D3DAF;
}

.white-button:hover {
  background: linear-gradient(to right, #ff6699 11%, #0033cc 91%);
  border: none;
  padding: 13px;
  color: white;
  border-radius: 15px;
}

/* -----------Navbar style start-------- */

.header {
  position: sticky;
  top: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* left: 0; */
  background-color: white !important;
  border-radius: 20px;
  /* right: 0; */
  z-index: 999;
  padding: 1%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(218, 218, 218);
  align-items: center;

  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  justify-content: space-between;
  /* padding-left: 2rem;
  padding-right: 2rem; */
  width: 80%;
  text-transform: capitalize !important;
}

.header.active {
  background-color: white !important;

}



.header .logo {
  font-size: 2.3rem;
  color: var(--black);
  text-decoration: none;

}

@media (min-width: 1200px) {}



.header .navbar .link {
  font-size: 20px;
  margin-left: 2rem !important;
  text-transform: capitalize !important;
  color: var(--black);
  text-decoration: none;
  cursor: pointer;


}


li:hover {
  /* color: rgb(231, 154, 53) !important; */
}

.navbar {

  text-transform: capitalize !important;
}



@media(max-width:950px) {
  .header {
    position: relative;
    height: 6rem;

  }

  .menu li {
    display: block;

    width: 100%;
  }

  .logo {
    margin-top: -1rem;
  }

  .dropdown-content {


    font-weight: 500;
    display: flex;
    transition: 0.7s linear;
    align-items: center;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 14px;


  }

  .navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;


  }

  .link {
    color: white !important;
  }

  .navbar.active {
    margin-top: 1rem;
    left: 0;


    transition: all 0.5s ease;
    z-index: 1;
    background-color: rgb(68, 62, 6);

  }


  .link {
    text-align: center;
    margin: 1.5rem;
    width: 90%;
    display: table;
  }

  .link :hover {
    border-radius: 0;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);

  }

  .hamburger-menu {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;

  }

  .icons {
    border: 1px solid white;
    margin-top: 0.5rem;

  }
}

.icons2 {
  border: 1px solid white;
  margin-top: 0.5rem;
  font-size: 40px !important;
  color: wheat;
  border-radius: 20px;
  padding: 1%;
  background-color: #918813;

}


.hamburger-menu {
  display: none;

}

.display {
  display: none;
}


.menu {
  padding: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0rem !important;
}

.menu>li,
menu>a {
  display: inline-block;
}

.menu li {
  position: relative;
}

.menu a {
  text-decoration: none;
  color: #121212;
  display: block;
  padding: 10px 1.5rem;
}

.menu a:hover {
  color: var(--main-color);
}

ul {
  list-style: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 1s ease-in;
}

.dropdown-content2 {
  transition: all 1s ease-in;
  left: 100.5%;
  width: 100%;
  padding: 0;
  display: none;
  top: 0;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content li:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: .7s linear;
  /* Animation */
}

.dropdown2:hover .dropdown-content2 {
  display: block;
  transition: .7s linear;
  /* Animation */
}

.dropdown-content2 li {
  color: black;

  text-decoration: none;
  display: block;
}

.dropdown-content li {
  color: black;

  text-decoration: none;
  display: block;
}

.dropbtn {

  border: none;
}

/* -----------Navbar style end-------- */



/* -----------caursal style start-------- */


@keyframes movingclouds {
  0% {
    margin-right: 0%;
  }

  100% {
    margin-right: -100%;
  }
}


@keyframes movingclouds {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: -100%;
  }
}

.fade {
  animation: fade-in-keyframes 2s;
}

@keyframes fade-in-keyframes {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.sky1 {
  position: relative;
  height: 60rem;
  width: 100%;
  background-image: url("/src/Image/banner.png");
  margin: 0 auto;
  padding-top: 50px;
}

@keyframes move {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}

@keyframes backup {
  from {
    right: 100%;
  }

  to {
    right: -100%;
  }
}

.cloud-1 {
  position: absolute;
  animation: move 26s infinite;
  animation-timing-function: linear;
  animation-delay: -8s;
}

.cloud-5 {
  position: absolute;
  animation: move 26s infinite;
  animation-timing-function: linear;
  animation-delay: -8s;
}

.cloud-4 {
  position: absolute;
  animation: move 26s infinite;
  animation-timing-function: linear;
  animation-delay: -8s;
}

.cloud-3 {
  position: absolute;
  animation: backup 20s infinite;
  animation-timing-function: linear;
  animation-delay: -8s;
}

.cloud-2 {
  position: absolute;
  animation: backup 20s infinite;
  animation-timing-function: linear;
}

.cloud-6 {
  position: absolute;
  background-repeat: repeat-y;
  animation: backup1 36s infinite;
  animation-timing-function: linear;
  animation-delay: -8s;
}

.cloud-8 {
  position: absolute;
  background-repeat: repeat-y;
  animation: backup2 16s infinite;
  animation-timing-function: linear;
  animation-delay: -1s;
}

.cloud-10 {
  position: absolute;
  background-repeat: repeat-y;
}

.cloud-9 {
  position: absolute;
  background-repeat: repeat-y;
  animation: backup2 80s infinite;
  animation-timing-function: linear;
  animation-delay: -1s;
}

.cloud-7 {
  position: absolute;
  background-repeat: repeat-y;
  animation: backup2 45s infinite;
  animation-timing-function: linear;
  animation-delay: 8s;
}

@keyframes backup1 {
  from {
    right: 100%;
  }

  to {
    right: -100%;
  }
}

@keyframes backup2 {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}



/* -----------caursal style end-------- */


/* --------home style here=----------- */

.button {
  padding: 1%;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #cc66ff 0%, #cc00cc 100%);
  ;
  color: white;
  text-decoration: none;
}

.button:hover {
  color: #bbbbe6;
  transition: linear 1s;
  background: linear-gradient(to right, #cc00cc 0%, #cc66ff 100%);
}


.icons {
  background-color: var(--main-color);
  font-size: 50px;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.div-icons {
  width: 5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.center {
  text-align: center;
}

.color {
  color: var(--main-color);
}

.color2 {
  background: #cc66ff;
  background: linear-gradient(to right, #cc66ff 0%, #CC00CC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.padding-1 {
  padding-left: 22%;
  padding-right: 22%;
}

.bold-text {
  font-weight: bold;

}

.small-logo {
  width: 100px;
}


/*------big-card-style-start------ */
.big-card {
  border: 1px solid rgb(192, 191, 191);
  padding: 3%;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.big-card-active {
  border: 1px solid rgb(192, 191, 191);
  padding: 3%;
  color: white;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  background: linear-gradient(to top left, #0000cc 0%, #990099 100%);
}


.space {
  justify-content: space-between;
}

.radio-button {

  border-radius: 5px;
  padding: 2% 8%;
  background: linear-gradient(to right, #cc66ff 0%, #cc00cc 100%);
  color: white;
}

.radio-button-active {

  border-radius: 5px;
  padding: 2% 8%;
}

.margin {
  padding: 1% 7%;
}

.button2 {
  padding: 2%;
  border: none;
  border-radius: 7px;
  background: linear-gradient(to right, #0099ff 0%, #7a47ad 100%);
  color: white;
}

.button-active {
  padding: 2%;
  border: none;
  border-radius: 7px;
  background: linear-gradient(to right, #0099ff 0%, #1f1483 100%);
  color: white;
}

.button3 {
  padding: 3%;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #cc66ff 0%, #cc00cc 100%);
  color: white;
  text-align: center;
  margin-left: auto;
  z-index: 999;
  margin-right: auto;
}


.tran {
  transition: 2s;
}





/* Card---small---- */



.card {

  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 106px 0px;
  box-shadow: var(--box-shadow);
}


.card:hover {
  /* background-color: var(--main-color); */
  transition: 1s;
  color: white;
}



.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--main-color);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card-small {
  display: block;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;


  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card-small:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: var(--main-color);
  height: 32px;
  width: 45px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}


.card-small:hover:before {
  transform: scale(21);
}

.card-small p :hover {

  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);



}

.card-small h3 :hover {

  transition: all 0.3s ease-out;
  color: #ffffff;
  font-weight: bold;

}




.container .box {
  position: relative;
  width: 25rem;
  height: 30rem;
  cursor: pointer;

}

.container .box:hover .imgBox {
  transform: translate(-3.5rem, -3.5rem);
}

.container .box:hover .content {
  transform: translate(3.5rem, 3.5rem);
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox img {
  width: 25rem;
  height: 30rem;
  object-fit: cover;
  resize: both;
  border-radius: 10px;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  box-shadow: var(--box-shadow2);
  justify-content: center;
  background-color: #fff;
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.content h2 {
  display: block;
  font-size: 1.5rem;
  color: #111;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1px;
}

.content span {
  color: #555;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-left: 2rem;
}

@media (max-width: 600px) {
  .container .box:hover .content {
    transform: translate(0, 3.5rem);
  }

  .container .box:hover .imgBox {
    transform: translate(0, -3.5rem);
  }
}

.shadow {
  box-shadow: var(--box-shadow2);
}

/*------ card-style-end------ */

/* --------home style end=----------- */















/* contact us------ */

.icon-social {
  text-align: center;

}

.register-free {
  text-align: center;
  width: 100%;

}

.zoom {

  transition: transform .2s;
  /* Animation */
  margin: 0 auto;

}

.zoom:hover {
  transform: scale(1.1);


  cursor: pointer;

}

.marginFooter {
  margin-top: 0.7rem;
}

.icons {
  color: white !important;
  border: 1px solid white;
  padding: 11px;
  font-size: 50px;
  border-radius: 40px;
  margin: 5px !important;
}

.color-hr {
  color: white;
}

.contactus-section {
  margin: -4rem 0;
}

.contact-leftside img {
  min-width: 80%;
  max-height: 30rem;
  height: auto;
}

.contact-input-feild {
  margin-bottom: 4rem;
}

.contact-rightside form .form-control {

  --webkit-appearance: none;
  height: 3rem !important;
  box-shadow: 0 5px 38px rgba(0, 0, 0, 0.30), 0 8px 12px rgba(0, 0, 0, 0.22);
  font-size: 1.2rem;
  padding-left: 1rem;
  font-weight: lighter;
  outline: 0;

}

.contact {
  padding: 2%;
  border-radius: 20px;

}

.contact-rightside form .form-check-input {
  border: 1px solid rgb(11 60 82);
  width: 2rem;
  height: 2rem;

}

.form-checkbox-style {
  margin: 4rem 0;
}

.contact-rightside form .main-hero-para {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 400;
  margin: -2px;

  width: 92%;
  padding: 0 2rem;

}



.border-red {
  border-radius: 0px 0px 8px 8px;
}


/* contact us end----- */








/* =--------Business setup guide start-------- */

.color4 {
  background: linear-gradient(to right, #0033cc 11%, #ff6699 91%);
}


.padding {
  padding: 2%;
}




/* =--------Business setup guide end-------- */